body {
	font-family: courier;
	background: radial-gradient(circle, gray, lightgray);
	margin: 0px;
}

p {
	text-align: justify;
}

ul {
	padding-right: 2px;
}

#principal-header {
	margin: auto auto;
	text-align: center;
	display: block;
	background-color: red;
}
